<main class="maincontentarea">
    <div class="fluid-container">
        <div class="row">
            <!-- <app-sidebar class="col-auto side-menu-container" [toggle]='toggle'></app-sidebar> -->
            <div class="col">
                <div class="page-title-container">
                    <div class="row">
                        <!-- <button class="col-auto toggle-menu" (click)="togglemenuclick()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
                        </button> -->
                        <div class="col-12 col-md-7">
                            <h1 class="mb-1 pb-0 display-4" id="title">Dashboard</h1>
                            <nav class="breadcrumb-container d-inline-block" aria-label="breadcrumb">
                                <ul class="breadcrumb pt-0">
                                    <li class="breadcrumb-item"><a routerLink="/client/dashboard">Dashboard</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-5">
                        <div class="row g-2">
                            <div *ngIf="message" class="alert alert-success mt-3 mb-0">{{message}}</div>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <div class="card sh-11 hover-scale-up cursor-pointer">
                                    <div class="h-100 row g-0 card-body align-items-center py-3">
                                        <div class="col-auto pe-3">
                                            <div
                                                class="bg-gradient-2 sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                                                <i data-cs-icon="navigate-diagonal" class="text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row gx-2 d-flex align-content-center">
                                                <div class="col-12 col-xl d-flex">
                                                    <div class="d-flex align-items-center lh-1-25"
                                                        (click)="onChannelClick()">Channel
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-auto">
                                                    <div class="cta-2 text-primary">{{noofchannel}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-sm-6 col-lg-6">
                                <div class="card sh-11 hover-scale-up cursor-pointer">
                                    <div class="h-100 row g-0 card-body align-items-center py-3">
                                        <div class="col-auto pe-3">
                                            <div
                                                class="bg-gradient-2 sh-5 sw-5 rounded-xl d-flex justify-content-center align-items-center">
                                                <i data-cs-icon="check" class="text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row gx-2 d-flex align-content-center"
                                                (click)="onPaymentClick()">
                                                <div class="col-12 col-xl d-flex">
                                                    <div class="d-flex align-items-center lh-1-25">Users
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-auto">
                                                    <div class="cta-2 text-primary">{{noofproject}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- <app-layout></app-layout> -->
