<app-header (images) = "images"></app-header>
<main class="layout-main">
    <div class="fluid-container">
        <div class="row">
            <app-sidebar class="col-auto side-menu-container" [msgFromParent1]='toggle' style="margin-top: -16px;"></app-sidebar>
            <button class="col-auto toggle-menu" (click)="togglemenuclick()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
            </button>
            <div class="col">
                <router-outlet (activate)="this.onActivate()"></router-outlet>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
